.header-nav {
  font-size: 3.5rem;
  color: #ffffff;
  letter-spacing: 3px;
  color: #731f1f;
}

.header-nav {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);

  padding: 20px 30px;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-nav li {
  margin: 15px 0;
}

.header-nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.header-nav a:hover {
  color: #fff;
}

header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/hero.jpg");
  background-size: cover;
  max-width: 150%;
  background-position: center;
  color: white;
  padding: 800px 0 500px 0;
  border-bottom: 1px solid #000000;

  /* position: relative; */
  /* margin: auto;
    padding: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%); */
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/hero3.jpeg");
  background-size: cover;
  max-width: 150%;
}

body {
  color: aliceblue;
}
